{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- material ui cdn -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- local css file -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>Craiglist app</title>
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav>
      <div class="container nav-wrapper">
        <a href="/" class="brand-logo">Codedaddies list</a>
        <ul id="nav-mobile" class="right">
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </nav>
    <!-- Navigation Bar End -->
    <div class="container">
      <!-- Title Section -->
      <h1 style="text-align: center">
        What do you want to search for Codedaddies list?
      </h1>
      <!-- Title Section End -->

      <!-- Iconic -->
      <div class="row">
        <div class="col s4">
          <div class="center">
            <i class="large material-icons" style="color: #ee6e73"> flash_on</i>
            <p>Fast Craiglist web scrapper</p>
            <p class="light center">
              Scrape away right here with a beautiful GUI.
            </p>
          </div>
        </div>
        <div class="col s4">
          <!-- Promo Content 2 goes here -->
          <div class="center">
            <i class="large material-icons" style="color: orange">camera</i>
            <p>Filter your searches</p>
            <p class="light center">
              We built in functionality to filter based on pricing.
            </p>
          </div>
        </div>
        <div class="col s4">
          <!-- Promo Content 3 goes here -->
          <div class="center">
            <i class="large material-icons" style="color: blue"
              >chrome_reader_mode</i
            >
            <p>A much sexier front-end to Craigslist</p>
            <p class="light center">We built this with ❤️</p>
          </div>
        </div>
      </div>
      <!-- Iconic End -->

      <!-- Form -->
      <form action="{% url 'new_search' %}" method="post">
        {% csrf_token %}
        <input type="text" required name="search" placeholder="search" />
        <button
          class="btn waves-effect waves-light"
          name="submit"
          type="submit"
          name="action"
        >
          Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
      <!-- Form End -->
      {% block content %} {% endblock content %}
    </div>
    <!-- Materialize JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Materialize JS CDN End -->
  </body>
</html>
